


head
  meta(charset='utf-8')
  title RMIT ClubHub
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css')
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  script.
    function validateForm() {
    let x = document.forms["form"]["password"].value;
    let y = document.forms["form"]["re-typepassword"].value;
    
    if (!x.match(y)) {
    alert("Retype password not match");
    return false;
    }
    }
  body
    .modal-dialog
        .modal-content
          // Modal Header
          .modal-header
            button.close(type="button", data-dismiss="modal")
              span(aria-hidden="true")
              span.sr-only Close
            h4#myModalLabel.modal-title
              | Reset password #{email}
          // Modal Body
          .modal-body
            //#editForm.form(role='form' method='GET' action='https://www.google.com/')
            form(role='form' action=`/api/auth/password-reset/confirm/${token}`, method="post" onsubmit='return validateForm()')
              div.form-group
                label(for='name') New Password
                input#password.form-control(type='password', placeholder='New password' name='password')
              div.form-group
                label(for='email') Confirmation
                input#password.form-control(type='password', placeholder='Re-type your new password' name='retype-password')
              button.btn.btn-primary(type="submit", name="submit")| Submit
              button.btn.btn-default(type="button", data-dismiss="modal")
                | Close
          // Modal Footer
          .modal-footer
            h4 powered by @rmitclubhub

    // footer
    p.foot.text-xs-center @2022 RMIT Club Hub